@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Fast Food King</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Bienvenido a FoodKing</h2>
        <p>
            FoodKing es una aplicacción desarrollada con la finalidad de darte la
            la mejor atención al momento que hagas tus pedidos de comida rápida.
        </p>
    </div>
    <div class="col-md-4">
        <h2>¿Que te ofrecemos?</h2>
        <p>
            Te ofrecemos todo tipo de comida rápida, podrás encontrar lo que buscas,
            por precio y categoría todo en una sola app.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Puedes encontrarnos en: </h2>
        <p>
           Local: Plaza los mangos, modulo 3
           WhatsApp: 5674-3210
           Instagram: _FastFood_King
           Facebook: Tha Fast Food King
        </p>
    </div>

</div>